.carousel {
	position: relative;
	/*overflow: hidden;*/
}

.carousel__container {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .3s;
	transform: translate3d(0, 0, 0);
}

.carousel__item {}

.carousel__next, .carousel__prev {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #FFF url(../svg/right.svg) center center no-repeat;
	background-size: 20px 20px;
	border-radius: 50%;
	top: 50%;
	margin-top: -20px;
	right: 0px;
	box-shadow: 0 15px 35px #3232321A, 0 5px 15px #0000001A;
	cursor: pointer;
	transition: transform .3s, opacity .3s;
}

.carousel__next:hover, .carousel__prev:hover {
	transform: scale(1.2);
}

.carousel__prev {
	background: #FFF url(../svg/left.svg) center center no-repeat;
	background-size: 20px 20px;
	right: auto;
	left: -20px;
}

.carousel__next--hidden, .carousel__prev--hidden {
	opacity: 0
}